/* Login */
.Switch {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.Switch > .slide {
    width: 200%;
    height: 100%;
    transform: translateX(0);
    display: flex;
    color: white;
    border: 1px solid red;


    transition: transform 0.3s ease;
}
.Switch > .slide.false {
    transform: translateX(-50%);
}

.Login {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;
}
.Login > .hr {
    margin: 4vh 0;
}
.Login > h1 {
    font-size: 3vh;
}
.App {
    background-color: #CCB7B4;
}
/* INDEX */
.loadingBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5px;
    z-index: 1000;
    opacity: 1 !important;
    pointer-events: none;
    user-select: none;
}
.loadingBar > .loadingBarFill {
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background-color: #DB2F29;
    transition: transform 10s cubic-bezier(0,.99,0,.99), opacity 1s ease;
    transform: translateX(0%);
    opacity: 1;
}
.loadingBar.initial > .loadingBarFill {
    transform: translateX(30%);
}
.loadingBar.Loaded > .loadingBarFill {
    transition: transform 0.5s ease, opacity 1s ease;
    transform: translateX(100%);
    opacity: 0;
}
.Index {
    padding-top: 10vh;
}
.Index > * {
    opacity: 0;
    transition: opacity 1s ease;
}
.Index.Loaded > * {
    opacity: 1;
}
.Index, .Game {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indexDecor {
    height: 50vh;

}
.indexDecor > img {
    height: 100%;
}
a {
    text-decoration: none;
}
.redButton {
    background-color: #DB2F29;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFA3A4;
    font-size: 4vh;
    padding: 1vh 2vh;
    outline: none;
    border: none;
    border-radius: 2vh;
    cursor: pointer;
    text-decoration: none;
}
.hint {
    margin-top: 5vh;
    border: none;
    outline: none;
    padding: 0.5vh 1vh;
    background-color: #D9D9D9;
    color: #A8A8A8;
    border-radius: 1vh;
}
.playGame {
    margin-top: 5vh;
}
.redButton.goBack {
    margin-top: 3vh;
    font-size: 2vh;
}
/* Game */
.passwordScreen, .pregameScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding-top: 10vh;
}
p.bigText {
    font-size: 5vh;
    color: #595959;
    margin: 3vh;
}

.input {
    background-color: #3A3A3A;
    outline: none;
    border: none;
    border-radius: 2vh;
    padding: 1vh 2vh;
    font-size: 4vh;
    color: #D6D6D6;
}

@media screen and (max-width: 600px) {
    .indexDecor {
        height: 30vh;
    }
    p.bigText {
        font-size: 3vh;
        margin: 3vh 0;
    }
    .input {
        font-size: 3vh;
        width: 95%;
    }
}